body{
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: GT Eesti Pro Text,sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #f2f4f7;
    background-color: #f2f2f2;
}
.main-bg{
   background-color: #004460; 
   background-color: #284459;
   
}
a{
    text-decoration: none;
}
p{
    padding: 0;
    margin: 0;
}
*, ::after, ::before {
    box-sizing: border-box;
}
#center-h-full{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.pt-200{
    padding-top: 200px;
}
.color-black a,
.color-black i,
.color-black p,
.color-black span,
.color-black div{
    color: #004460;
}
.color-black .h-top {
    border-bottom: 1px solid #004460ad;
}
.color-black .menu-site a span {
    color: #fff !important;
}

@media (min-width: 576px){
    .container-c {
        max-width: 540px;
    }
}
@media (min-width: 768px){
    .container-c {
        max-width: 720px;
    }
}
@media (min-width: 992px){
    .container-c {
        max-width: 960px;
    }
}
@media (min-width: 1200px){
    .container-c {
        max-width: 1140px;
    }
}
@media (min-width: 1200px){
    .container-c {
        max-width: 1170px;
    }
}
.container-c {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.w-300{
    width: 300px;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 3rem;
    margin-left: 3rem;
}
.header-my{
    position: absolute;
    z-index: 1049;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
}
.my-row{
    display: flex;
    flex-wrap: wrap;
}
.h-top{
     /* border-bottom: 1px solid #ffffff17; */
     border-bottom: 1px solid #ffffff6b;
}
.b-top,
.h-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem 0;
}
.logo{
    line-height: 0;
}
.logo img{
    width: 90px;
}
.languages{
    font-size: 1.2rem;
    color: #fff;
    text-transform: capitalize;
}
.social-networks a{
    color: #fff;
    font-size: 1.2rem;
    margin: 0 0.5rem;
}
.menu-site a{
    color: #fff;
    font-size: 0.875rem;
    margin: 0 0.5rem; 
    text-transform: uppercase;
    position: relative;
    padding: 0.5rem 0;
}
.tel a{
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
}
.modal-video-container {
    width: 12.5vw;
    height: 6.25vw;
    bottom: 3rem;
    right: 4rem;
    z-index: 2;
}
.img-cover {
    -o-object-fit: cover;
    object-fit: cover;
}
.h-100,
.img-cover {
    height: 100%;
}

.img-cover,
.w-100 {
    width: 100%;
}
.image-layer {
    background-color: rgb(0 68 96 / 80%);
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fffc;
    font-size: 1rem;
    transition: 0.5s;
}
.image-layer:hover{
    font-size: 1.5rem;
    background-color: rgb(0 68 96 / 30%);
    /* transition: 1s; */
}
.pointer {
    cursor: pointer;
}
.p-absolute {
    position: absolute;
}

.menu-site a span:before,
.menu-site a span:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -2px;
  margin-top: -0.5px;
  background: #fff;
}

.menu-site a span:before {
  left: -2.5px;
}

.menu-site a span:after {
  right: 2.5px;
  background: #fff;
  -webkit-transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.menu-site a span:hover:before {
  background: #fff;
  width: 100%;
  -webkit-transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.menu-site a span:hover:after {
    background: transparent;
    width: 100%;
    -webkit-transition: 0s;
    transition: 0s;
  }
.left-bar{
    background:#004460de;
    border-right:1px solid #e5e5e5;
    position:absolute;
    top:0;
    bottom:0;
    height:100vh;
    left: -301px;
    width:300px;
    overflow:hidden;
    transition: all 0.24s ease-in-out;
    z-index:1000;
}
.left-bar-menu:hover .left-bar{
    left: 0px;
    transition: all 0.50    s ease-in-out;
}
.left-bar-menu .b-top{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}
.left-bar-menu .menu-site{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.left-bar-menu  .menu-site a {
    color: #fff !important;
    font-size: 1.2rem;
    margin: 0.4rem 0;
}
.left-bar-menu  .tel{
    margin: 0.4rem 0;
}
.left-bar-menu{
    display: inline-flex;
}
.about{
    flex-wrap: wrap;
}
.ab-left{
    position: relative;
}
.about-img{
    width: clamp(200px, 100%, 350px);
}
.ab-left:before {
    content: "";
    position: absolute;
    top: 40px;
    left: -50px;
    right: 250px;
    bottom: -80px;
    border: 8px solid #004460;
    background-color: #0044604f;
    z-index: 1;
    -webkit-animation: ImgBounce 5s ease-in-out 0s infinite alternate;
    animation: ImgBounce 5s ease-in-out 0s infinite alternate;
}
.my-col-2{
    width: 50%;
}
.ab-right h3{
    font-size: clamp(1.5rem, 3vw, 2rem);
    padding: 0px;
    margin: 0px;
}
.ab-right p{
    font-size: clamp(1rem, 2vw, 1.7rem);
}
.nobefor::before{
    content: "";
    display: none;
}
.contact-right{
    padding: 2rem 1rem;
}
.contact-right h3{
    font-size: clamp(1.5rem, 2vw, 2.5rem);
    padding: 0px;
    margin: 0px; 
}
.contact-right p{
    font-size: clamp(1rem, 2vw, 2rem);
}
.pt-105{
    padding-top: 105px;
}
.contact-left iframe{
    height: calc(100vh - 105px);
}
.contact-right .pt-1r{
    padding-top: 1rem;
}
.contact-right .work{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 30px;
}
.contact-right .worke-info{
    font-size: 1.5rem;
    line-height: 1.8rem;
}
.center-form{
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.center-form input{
    width: 100%;
    margin-bottom: 20px;
    background: transparent;
    border: none;
    font-size: 28px;
    line-height: 34px;
    padding: 20px;
    outline: none;
    letter-spacing: 1.12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.400617);
}
.center-form  button{
    width: 100%;
    background-color: #004460;
    border-radius: 50px;
    border: 1px solid #004460;
    color: #fff;
    padding: 1rem;
}
.itme-comfortable{
    display: flex;
    align-items: center;
    width: clamp(320px, 100%, 25%);
    margin-top: 1.5rem;
}
.itme-comfortable-span{
    width: 70px;
    height: 70px;
    border: 2px solid #004460;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin-right: 20px;
}
.comfortable-block{
    display: flex;
    flex-wrap: wrap;
}
.text-info-comfortable{
    font-size: 1.2rem;
    flex: 1;
}
.blocks-title{
    font-size: clamp(1.5rem, 3vw, 3rem);
    padding: 0px;
    margin: 0px;
    text-align: center;
}
.f-about{
    margin-top: 140px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.itme-f-about{
    width: clamp(300px, 33.3%, 100%);
    margin: auto;
    text-align: center;
    margin-bottom: 3rem;
}
.itme-f-about i{
    font-size: clamp(2.5rem, 4vw, 6rem);
    margin-bottom: 10px;
}
.itme-f-about h3{
    padding: 0px;
    margin: 0.5rem 0;
}
.animate__animated.animate__delay-04s {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    animation-duration: 1s;
}
.animate__animated.animate__delay-08s {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    animation-duration: 1s;
}
.animate__animated.animate__delay-1-2s {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
    animation-duration: 1.2s;
}
.animate__animated.animate__delay-1-6s {
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s;
    -webkit-animation-delay: 1.6s;
    animation-duration: 1.6s;
}
.animate__animated.animate__delay-2s {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
    animation-duration: 2s;
}

#loader    .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100000000;
}

#loader .overlay .overlayDoor:before,
#loader .overlay .overlayDoor:after {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    background: #f2f4f7;
    background: #004460;
    transition: 1s cubic-bezier(0.77, 0, 0.18, 1);
    transition-delay: 0.8s;
}

#loader .overlay .overlayDoor:before {
    left: 0;
}

#loader .overlay .overlayDoor:after {
    right: 0;
}

#loader .overlay.loaded .overlayDoor:before {
    left: -50%;
}

#loader .overlay.loaded .overlayDoor:after {
    right: -50%;
}

#loader .overlay.loaded .overlayContent {
    opacity: 0;
    margin-top: -15px;
}

#loader  .overlay .overlayContent {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 1s cubic-bezier(0.77, 0, 0.18, 1);
}

#loader .overlay .overlayContent .skip {
    display: block;
    width: 130px;
    text-align: center;
    margin: 50px auto 0;
    cursor: pointer;
    color: #fff;
    font-family: "Nunito";
    font-weight: 700;
    padding: 12px 0;
    border: 2px solid #fff;
    border-radius: 3px;
    transition: 0.2s ease;
}

#loader .overlay .overlayContent .skip:hover {
    background: #ddd;
    color: #444;
    border-color: #ddd;
}

#loader .loader>span {
    display: inline-block;
    /* background-color: #ff9000; */
    width: 50px;
    height: 0px;
    border-radius: 50%;
    margin: 0 8px;
    transform: translate3d(0);
    /* animation: bounce 5s infinite alternate; */
}
#loader .loader>span img{
    width: 100px;
}
/* #loader .loader>span:nth-child(2) {
    background-color: #5a0093;
    animation-delay: 0.2s;
} */

#loader .loader>span:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes bounce {
    to {
        width: 16px;
        height: 16px;
        transform: translate3d(0, -16px, 0);
    }
}

.blocks-main{
    display: flex;
}
.blocks-main-left,
.blocks-main-right{
    width: 50%;
    position: relative;
}
.blocks-main-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.blocks-main-left-top{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}
.blocks-main-left-top img{
    width: 40%;
}
.blocks-main-left-top .width230{
    width: 230px;
    margin-right: 40px;
}
.blocks-main-left-bottom{
    margin: auto;
    text-align: center;
}
.blocks-main-left-bottom img{
    width: 70%;
}

.blocks-main-right img{
    width: 100%;
    padding-top: 4rem;
}
.height-t-105{
    height: calc(100vh - 105px);
}
.blocks-main-right-info {
    position: absolute;
    top: 0.6rem;
    right: 5%;
}
.blocks-main-right-info h2 {
    margin: 0;
    padding: 0px;
    font-size: 4rem;
    color: #fff;
    line-height: 4rem;
}
.blocks-main-right-info p{
    color: #fff;
    padding: 0px;
    margin: 0;
    font-size: 1.5rem;
}
.table-my{
    margin-top: 4rem;
}
.table-my>div{
    display: flex;
    
}
.table-my>div span{
    width: 120px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    border-top: 1px solid #fff;
    padding: 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.table-my>.table-my-title span{
    border-top: 1px solid #2f475e;
}
.table-my>div span:nth-child(2n) {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}
.links-blocks{
    width: 100%;
    display: flex;
}
.links-blocks a {
    color: #fff;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    margin: 1rem 0.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.links-blocks a:hover,
.links-blocks .actione{
    color: #d0a361;
    border-color: #d0a361;
}
.social-networks a:hover{
    color: #d0a361;
}
.len{
    justify-content: center;
}
.len a{
    width: 30px;
    height: 30px;
    font-size: 13px;
    margin: 0.5rem;
}
.left-login{
    padding: 1rem;
    width: 100%;
    text-align: center;
    padding-bottom: 0.5rem;
}
.left-login img{
    width: 80px;
}